USER_DB_NAME=user_db
USER_DB_USER=postgres
USER_DB_PASSWORD=postgres
USER_DB_HOST=user_db
USER_DB_PORT=5432

POST_DB_NAME=post_db
POST_DB_USER=postgres
POST_DB_PASSWORD=postgres
POST_DB_HOST=post_db
POST_DB_PORT=5432

DJANGO_SECRET_KEY=change-this-development-secret
JWT_SECRET_KEY=change-this-jwt-secret
DJANGO_DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
